<!DOCTYPE html>
<html>
  <head>
    <title>Express.js Fetch API Demo with async/await</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      <input>Enter city name</input>
      <h1>City: <%=city_name%></h1>
      <h2>temperature in <%=city_name%> is: <%=temp%></h2>
      <h4>weather: <%=weather%></h4>
      <h5><%=weather_desc%></h5>
      <h4>minimum temperature: <%=temp_min%>C</h4>
      <h4>minimum temperature: <%=temp_max%>C</h4>
      <h4>feels like: <%=feels_like%>C</h4>
      <h4>wind speed: <%=wind_speed%> m/s</h4>
    </div>
  </body>
</html>
